@import "./loan-card.scss";

.loan-details-wrapper {
 .btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
 }
}

.loan-details-header {
 display: flex;
 flex-direction: row;
 margin-bottom: 24px;

 @include mq("t-768", "max") {
  flex-direction: column;
 }

 >div {
  flex: 1;
 }

 .loan-details {
  flex: 1;

  @include mq("t-768", "max") {
   margin-bottom: 16px;
  }
 }

 .chart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .chart {
   height: 130px;
   position: relative;
   width: 100%;
  }

  p {
   margin-top: 10px;
  }
 }
}