// src/components/LoginPage.scss
.login-container {
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: calc(100svh - 66px);

 .login-form {
  width: 500px;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  h1 {
   text-align: center;
   margin-bottom: 24px;
  }

  input {
   width: 100%;
  }
 }

 .no-account {
  margin-top: 24px;
  padding-top: 15px;
  border-top: 1px solid var(--color-border);
  text-align: center;
 }
}



.message {
 text-align: center;
 color: crimson;
 font-size: 0.9rem;
}


/* bg.css */
// .animated-bg {
//  position: absolute;
//  inset: 0;
//  background: linear-gradient(270deg, #2e3bff, #8e2de2, #4a00e0);
//  background-size: 600% 600%;
//  animation: gradientMove 15s ease infinite;
//  z-index: -1;
// }

// @keyframes gradientMove {
//  0% {
//   background-position: 0% 50%;
//  }

//  50% {
//   background-position: 100% 50%;
//  }

//  100% {
//   background-position: 0% 50%;
//  }
// }