@import "./utilities/utilities-dir";
@import "./modal.scss";
@import "./header.scss";
@import "./Loan/addLoan.scss";
@import "./loanCalculator.scss";
@import "./home.scss";
@import "./outstanding.scss";

.home-bg {
 background-image: url("https://qodgdfkdugrkqbhcpcba.supabase.co/storage/v1/object/public/emi/home-bg.jpg");
 position: absolute;
 left: 0;
 width: 100%;
 bottom: 0;
 height: 50vh;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: 50% 0;
}

.home-banner {
 >div {
  max-width: 65%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 24px;

  @include mq("t-768", "max") {
   max-width: 100%;
  }
 }

 h1 {
  text-align: center;

  @include mq("t-768", "max") {
   font-size: 26px;
  }
 }

 p {
  @include Font-Bold;
  font-size: 18px;

  @include mq("t-768", "max") {
   font-size: 15px;
  }
 }

 ul {
  // padding-left: 41px;
  margin-top: 15px;
  margin-bottom: 15px;

  // @include mq("t-768", "max") {
  //  padding-left: 0px;
  // }

  li {}
 }

 &.logedout {
  >div {
   margin-top: 20vh;

   @include mq("t-768", "max") {
    margin-top: 30px;
   }
  }

  h1 {
   font-size: 58px;

   @include mq("t-768", "max") {
    font-size: 26px;
   }
  }
 }

 &.logedin {
  border-bottom: 1px solid var(--color-border);

 }
}

.add-new-loan {
 background-color: var(--color-primary);
 color: var(--color-white);
 font-size: 48px;
 @include Font-Bold;
 cursor: pointer;
 position: fixed;
 z-index: 1;
 border-radius: 50%;
 border: none;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 50px;
 width: 50px;
 right: 30px;
 bottom: 50px;
 animation-name: bounce;
 animation-duration: 1s;
 /* Adjust for faster/slower bounce */
 animation-timing-function: ease-in-out;
 /* Controls acceleration/deceleration */
 animation-iteration-count: infinite;

 /* Makes the animation repeat continuously */
 @include mq("t-768", "max") {
  height: 40px;
  width: 40px;
  right: 15px;
  bottom: 20px;
  font-size: 30px;
 }

 &:hover {
  animation-play-state: paused;
 }
}

@keyframes bounce {

 0%,
 100% {
  transform: translateY(0);
  /* Start and end at original position */
 }

 50% {
  transform: translateY(-15px);
  /* Adjust for desired bounce height */
 }
}

.vanta-birds {
 height: 100vh;
 width: 100%;
 position: absolute;
 top: 0;
 left: 0;
 z-index: -1;
}